.preview-container {
  display: flex;
  height: 100vh;
  align-items: center; /* ❌ PROBLEMA */
}


/* Sidebar */
:root {
  --sidebar-width: 380px;
}

.preview-container {
  --sidebar-width: 380px;
}

.preview-container.sidebar-collapsed {
  --sidebar-width: 0px;
}

.sidebar {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  transition: width 220ms, min-width 220ms, max-width 220ms;
  background: #fff;
  z-index: 2;
}

/* Toggle */
.sidebar-toggle {
  position: absolute;
  left: calc(var(--sidebar-width) - 18px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 12;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #e5e7eb;
  cursor: pointer;
}

.preview-container.sidebar-collapsed .sidebar-toggle {
  left: 8px;
}